body {
    background: #4c2b63;
    font-family: 'Montserrat', sans-serif;
  }

  h1{
    font-family: 'Courier New', Courier, monospace;
  }

  .container {
    background: #cfcfcf;
    text-align: center;
    width: 300px;
    height: 470px;
    border-radius: .5em;
    box-shadow: -3px -3px 7px #a5a5a573,
                2px 2px 5px rgba(94, 104, 121, 0.288);
    margin: 0 auto;
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 2rem;
    
  }
  table{
    margin: auto;
  }
  input{
    font-size: 30px;
    border-radius: .2em; 
  }

  button{
    width: 3.5rem;
    height: 3.5rem;
    margin: 7px 7px;
    border-radius: 5em;
    border: none;
    box-shadow: -3px -3px 7px #3a333373,
                2px 2px 5px rgba(21, 23, 26, 0.288);
    cursor: pointer;
    font-weight: 500;
    font-size: 15px;
  }
